@using QueflityMVC.Application.ViewModels.Purchasable
@model QueflityMVC.Application.ViewModels.Purchasable.DashboardVm
@{
    ViewData["Title"] = "Home Page";
    const int itemsPerRow = 4;
    int rowsCount = Model.Purchasables.Count / itemsPerRow;
}

<div class="section itemsLayout m-2">
    @for (int row = 0; row < rowsCount; row++)
    {
        <div class="row gx-sm-1">
            @for (int column = 0; column < itemsPerRow; column++)
            {
                int itemNo = row * itemsPerRow + column;
                if (itemNo >= Model.Purchasables.Count)
                    break;

                var currentPurchasable = Model.Purchasables[itemNo];
                <div class="col">
                    @switch (currentPurchasable)
                    {
                        case ItemForDashboardVm itemForDashboardVm:
                            <partial name="_ItemDashboardPartial" model="itemForDashboardVm"/>
                            break;
                        case KitForDashboardVm kitForDashboardVm:
                            <partial name="_KitDashboardPartial" model="kitForDashboardVm"/>
                            break;
                        default:
                            throw new ArgumentOutOfRangeException(paramName: $"Purchasables[{itemNo}]",
                                $"Partial dashboard view is not provided for type: {currentPurchasable.GetType()}");
                    }
                </div>
            }
        </div>
    }
</div>