@model QueflityMVC.Application.ViewModels.Purchasable.DashboardVm
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here there will be dashboard with all visible purchasable items and kits.</p>
    <p>...but you need to wait a little bit longer for that.</p>
</div>