@using Microsoft.AspNetCore.Mvc.TagHelpers
@using QueflityMVC.Application.ViewModels.Product
@model QueflityMVC.Application.ViewModels.Product.DashboardVm
@{
    ViewData["Title"] = "Home Page";
    const int itemsPerRow = 4;
    var rowsCount = (int)Math.Ceiling((double)Model.Products.Count / itemsPerRow);
}

<div class="section itemsLayout m-2">
    @if (Model.Products is { Count: > 0 })
    {
        @for (var row = 0; row < rowsCount; row++)
        {
            <div class="row gx-sm-1">
                @for (var column = 0; column < itemsPerRow; column++)
                {
                    var itemNo = row * itemsPerRow + column;
                    if (itemNo >= Model.Products.Count)
                        break;

                    var currentProduct = Model.Products[itemNo];
                    <div class="col">
                        @switch (currentProduct)
                        {
                            case ItemForDashboardVm itemForDashboardVm:
                                <partial name="_ItemDashboardPartial" model="itemForDashboardVm"/>
                                break;
                            case KitForDashboardVm kitForDashboardVm:
                                <partial name="_KitDashboardPartial" model="kitForDashboardVm"/>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException($"Products[{itemNo}]",
                                    $"Partial dashboard view is not provided for type: {currentProduct.GetType()}");
                        }
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="centered-box-with-text">No products to show.</div>
    }
</div>