@using Microsoft.AspNetCore.Authorization
@using QueflityMVC.Application.Constants
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "No ingredients";
    bool canCreateEntities = (await AuthorizationService.AuthorizeAsync(User, Policies.ENTITIES_CREATE)).Succeeded;
}

<h1 class="text-danger">No ingredients!</h1>
<h3 class="text-danger">First add any ingredient to be able to add it to item's ingredients'.</h3>


@if (canCreateEntities)
{
    @Html.ActionLink("Create first ingredient", "Create", "Ingredients", new{}, new { @class = "btn btn-primary" })
}
