@model QueflityMVC.Application.ViewModels.ItemCategory.DeleteFailedItemCategoryVM

@{
    ViewData["Title"] = "Delete failed";
}

<h1>Delete</h1>

<div>
    <h4>@Model.Message</h4>
    <hr />
</div>
<div>
    @Html.ActionLink("View items with this category", "ViewItems", new { id = Model.ItemCategoryId }) |
    <a asp-action="Index">Back to List</a>
</div>
